Title: Bacula | The Saint | Johan Börjesson
Link text: bacula and how to manage
Description: Bacula and everything beyond storage
Keywords: bacula
Categories: sysadmin
Date: 26 February
Summary: Backups and how to do it

%h1
  Put some fairy dust on Sublime Text
