Title: Bacula | The Saint | Johan Börjesson
Link text: Bacula and how to manage
Description: Bacula and everything beyond storage
Keywords: bacula
Categories: sysadmin
Date: 26 February 2015
Summary: Backups and how to do it

%h1
  Improve your backups and save the day


