Title: Locked out | The Saint | Johan Börjesson
Link text: Locked out?
Description: How to save the day
Keywords: password
Categories: sysadmin
Date: 10 December 2015
Summary: How to access your server when you forgot the password

%h1
  How to gain access to your server when you forget your password

:markdown
  Imagine you loose access to your server, either you lost the password or got hacked. What do you do?
  
  Well, if you have an encrypted drive and you didn't loose your encryption passphrase/key, there is still hope. However, if it has been lost, you're out of luck. 
  
%h3
  The magic

:markdown    
  Start with a reboot of your server. When you enter GRUB, press "E" (for edit) before startup. Locate the kernel line and press "E" again for editing. 
  Navigate to the end of the line and add "`init=/bin/bash`", press enter and it has been completed. 
  When it is done, press "B" to boot the server with the edited kernel line.

  You should now have root access and `hostname:~#` should be shown.
  Enter the following commands:

  - `mount -n -o remount,rw /` (to make the filesystem rw, when we boot the server it is only ro).
  - `passwd` (enter a safe password)
  - `reboot` 



   Well, that's it!



   GLHF

