Title: About Johan Börjesson | The Saint
Description: Read about Johan in his own words
Keywords: Johan Börjeson
Summary: First paragraph.\nSecond paragraph.
Show meta: false
Flags: primary

%h1
  About me

= haml :public_profile, :layout => false, :locals => { :title => false, :bare => true, :inline => true }

%p
  I'm born in -89 which makes me

  = age(Date.new(1989, 9, 10))

  at the moment.


:markdown
  ---
  ##Background

  I allways had a great passion for computers, when I was a kid I mostly used them for computer games. But on later years they have been more like a toolbox.

  After I started to study I felt that this was the right field to advance and continue to pursue a career in, and even before I finished my studies I had a fulltime job beside my studies

  So my days where a bit hectic. But now I have finished school and are working hard to become a better SysAdmin one step at a time.
  
  When I'm not doing that, I enjoy lifting weights at the gym, playing starcraft and spending time with my loved ones.


:markdown
  ---
  ## Skills/Technologies

  _I have most experience in development with these technologies._  


.column-grid.columns-2
  .column-1

    .flag-list
      :markdown
        ### <span>Backups</span> Tools of choice

      %ul.code
        %li
          %a{ :href => 'http://www.bacula.org/', :target => '_blank' }
            Bacula
        %li
          %a{ :href => 'http://www.veeam.com/', :target => '_blank' }
            Veeam

        %li
          %a{ :href => 'http://www.r1soft.com/', :target => '_blank' }
            Ideera

  .column-2
    .flag-list
      :markdown
        ### <span>Servers</span> mostly worked with..

      %ul.code
        %li
          %a{ :href => 'http://www.debian.org/', :target => '_blank' }
            Debian
        %li
          %a{ :href => 'http://www.centos.org/', :target => '_blank' }
            CentOS

        %li
          %a{ :href => 'http://www.supermicro.com/', :target => '_blank' }
            Supermicro


:markdown
  ---
  ## Software choices

:markdown
  _Programs/Languages_

  - Shell scripting
  - Python
  - Nmap
  - Iptables
  - Bacula

:markdown
  ---
  ### Public Key

  <pre>
   -----BEGIN PGP PUBLIC KEY BLOCK-----
   Version: GnuPG v2

   mQINBFZMnFcBEAC/Se8qsdtIkg1p+Y6284vFCRrtkbLqWzuW+RE3b5Fd1mrLDaNH
   c/4WDICspFw2jIkMtIDiy3oggT0o6DOKS2uv9oF6rznSiG6+1SNnzdBJ/X90dToO
   2X3B+fv850Avz3ANuCDYtNIqsUX73ANrcu8WoCe+PLpZNBiFjSezQL5eaED4WtuG
   lzKHXeGk8RYVnboRNs8IMIwcXia83B1jGlYuzq3qRl0tb0eQ/gjdi01gj5KbUHcK
   X9md0WQYa5qIAadhIIB6d/QUifj7jc4paUc4BDEy6zGJY1WvHk9UYB6Wn4bJW0iL
   Yxw1jLCS/reugpAYxxbqH1fJFYgg6b9DlImNBFiOAp58w3NOoATyvwU3tphnDuMw
   s52avqr6vwDHgwvOdQMCOcdYGalue+PWVd6BCMr6WtcX5DAnwhPagCoIET7zw/lU
   Fl+iHQBal9l3U5rx0DjtLBXdH4+ZUELmGTx7tWOigk2cIluhcEEpjQxjIpPz4Szq
   uT6IlAf1syRoEEiaDnDtXfqlLkPaQgSzMZwMuyitD1skYj2n9OYULKZXxyCNN7S0
   C4JUPlRJ1AbBijrBjr1X/Nv+ITNe/bKTifUgi5YILc8y2Z7t8Akm2TtRyXzAkd3s
   tzUTwJcKD3q08oNApR0sRU149kzmgTjFniP4EyuDjBxhxyDDqFGoYQA5bQARAQAB
   tBlKb2hhbiA8am9oYW5AdGhlc2FpbnQuc2U+iQI/BBMBCAApBQJWTJxXAhsjBQkJ
   ZgGABwsJCAcDAgEGFQgCCQoLBBYCAwECHgECF4AACgkQ13h/5i+cy7r8oRAAjj4k
   6Cu8oR34Ff1S8eJFhKdr/ELKLQ6k6uhv1ryLz8N9hH8PMvy+YTRN/D/lPM2ccB6U
   dM5yGbB4NNERCVFwtIUjaMAGK5At6qkfkhkpQo9cz4jhjEk3QwTCnjzWWKFxoT6r
   E2C5mXpQkHxbWJ5eTxYN0oq99ciw4jwEz4EdNgs1aH5SU3uL5SM97BhWFmPO9VNk
   gzgXZwPbhfouBTzQTygAYLVJt6sFsS34urql+wVLnq2YM/ZhSMEnKe5m+jhdCxez
   +DEXOBQqNy4PxuYAqcGvT6ze26jVxQSbL7emPmv+cH/11p/JUqkRywI0IwaXOqZY
   ecsV2aeO5n7Jubxwi7aubLkYAWuyPv3xOUfC0tVXaZF524b8tSr1BJUxnIqxhcB3
   FbRz/BWTxUDPxlSKpz6mzCSqsaCZZF1HPD300OV5HJsxDK9YR0H1wQFMoFwGUCQG
   tfHidT7qLgaANp/QA8IfqNM/TfNAWPdrgNMQydVpMXPQauKyisvirRAtByDwTEDU
   OfX9iMzq4sjFhIVYr3INtLyT/w8ldK/l9gxExY8wqBmmBYW7J1HC20qQuT/Tc3iB
   7FwfEZBmQtJQ/0nA3X0twrn37nvP8sxE6WA1wN+Lizexit12JG6QWiBy2TtP5lci
   ZVKrIv4+HXWqVsucu8pJl8BzHZV2SFVrbUUL98q5Ag0EVkycVwEQAM90ptz1poPG
   zkHJi01a+DOI71zGQUlFr83cdThX4+AnWnuOurDs5DdzVe671kB8mn/1McmB85CC
   S2DgpEbleBLEQG8Q48jYJ4N3o/3sWLMmBAwMFYTLsRgRy7a0kJS/tXtmLnUjYenz
   TXPHZFHtNN0WsnTDFgm8U3Lf4VTVcbh312FBKLJBdskxEwdMVoKHI0MxljOL+GXG
   1AAEnNuIjauqUTscGLfIO3FOnY1qfw77/7KsOpvRibe6XdykZgSdSdfP8gG724yh
   KK9ItVb2DaZouMcK2PVCLgULtYURy+AbCxwxVhyOTiiIEtSNK5IilKD0XhcH/4W7
   lzc/h7sU5z+Aqis7tttACTjSc8NfDkzV7Sc4kak8tfXIO23DHAAeKQUXT9tbxoqW
   ZijpctLd398n3qsPYWAC2Mo7JfVmdK2BPe6hJ8kD/52dGB/v+f9BjCzXc0Jd6YGs
   bf9A2xoWAEnmCekUF58X1qUqEzXlZ+LMjB86zV4XrdIrWuzDphAlhBcWdu7Ooerv
   khBayIcKftSp7gyt/G78eis2GaSFVlj5Ai5WQGooc6YO49suMhNwStBZDotapjMK
   FnuKOAcd6rI7veB2HMX+6SW9Ym3gqvoUe7VIRRwflg5ZhCBARVzzuqXtBQ6s9SoU
   Iy+HIzXc5a6y1pgmQ9RqIeFbKwtgYhOvABEBAAGJAiUEGAEIAA8FAlZMnFcCGwwF
   CQlmAYAACgkQ13h/5i+cy7o4qw/9HFHo6lPUmUtxclDb7JYRuOByKbKGALpBhXtM
   Le+CM0zdU5vqcUv2AJJYJMHQ+6ME4/+ivM3nb9ntAIfbdP7LN/SgbtPt+xJdxVnH
   R+C7b1b0mTdvDDNYIO1zH2rJdsYcUfJQHeLuuESrarnzhTEMlQ4ZzZZZy5tT98nP
   mGsmM23k1ML5giRiKXgQwkMoYIEi2Xue+S/Aog8cjPilOJp7Br02kF20hR5HcbGA
   0F7VDvBm2O78ufYrfqKbl8FkWxMHJkOfSDFrwAQr4073xuCvRKVJ6xO2f44c6qC2
   UBqALfHMI8PnFta5UvhKhQBE/Cui3Xvb23vI9T7bKq3bF5OoEZZNQNYp/ytD9Jzv
   DzCAdhF8GHdWZNQyOQpBBFDtMBW9DnSJ5EY8UCtLkYcv+sSmQVMshSUDyqUGR0VO
   VPpdbz1frvdZM7thuJap+H3gXMINWN1tj4OQ1cGZvc4QSKWdV3ue8WwrsP7660iy
   fC/A1xbYDWUWNqMrdKDKB1nxFj1J9jhDw2JvJGL6wwcGI64hQ2gBowVC0h6oNN2+
   EFcpn01/oe293P1b/js+J7BgAalDeAVza+yI1+90QkPJokRCid4hxSAt73WEhAal
   b2FpniwEz0HRfmuH6hcVx+UhlqZCgtLqimhG5ZlU3eEancQgyHiAwfCVGfmoRWZ+
   u5OxY64=
   =14qe
   -----END PGP PUBLIC KEY BLOCK-----
  </pre>
