Title: Bookshelf | The Saint | Johan Dvahlin
Description: What I think you should read, and not  read
Keywords: books, blogs, interesting read
Summary: First paragraph.\nSecond paragraph.
Show meta: false
Flags: primary

%h1
  Book Shelf

:markdown
  I believe that knowledge is power, and with great powers comes great responsibility. I'm quite a book reader, and i will try to recommend a few books on this page that came in handy in my daily work. 

.column-grid.columns-2
  .column-1
    :markdown
      ## Books I have finished

      - [RHCSA/ RHCE Red Hat Linux Certification][1]
      - [Debian 7: System Administration Best Practices][2]
      - [The Linux Command Line][3]
      - [Linux Firewalls][4]
      - [bash Cookbook][5]
      - [Bacula - Network Backup Strategies and Solutions][6]

      [1]: http://www.amazon.com/RHCSA-RHCE-Red-Linux-Certification/dp/0071765654
      [2]: http://shop.oreilly.com/product/9781783283118.do
      [3]: http://shop.oreilly.com/product/9781593273897.do
      [4]: http://shop.oreilly.com/product/9781593271411.do
      [5]: http://shop.oreilly.com/product/9780596526788.do
      [6]: http://www.bacula-book.com/bacula_book/plugin_wiki/page/home

  .column-2
    :markdown
      ## Books I want to read

      - [The Hacker Playbook][23]
      - [Gray Hat Hacking The Ethical Hacker's Handbook][11]
      - [Gray Hat Python][12]

      [11]: http://www.bokus.com/bok/9780071832380/gray-hat-hacking-the-ethical-hackers-handbook-fourth-edition/
      [12]: http://www.bokus.com/bok/9781593271923/gray-hat-python-python-programming-for-hackers-and-reverse-engineers/
      [13]: http://www.sitepoint.com/
      [14]: http://www.webmonkey.com/
      [15]: http://alistapart.com/
      [16]: http://www.edgerails.info/
      [17]: http://afreshcup.com/
      [18]: http://webdeveloperplus.com/
      [19]: http://www.developerdrive.com/
      [20]: http://www.noupe.com/
      [21]: http://blog.teamtreehouse.com/
      [22]: http://ctrlpaint.com/
      [23]: http://www.amazon.com/The-Hacker-Playbook-Practical-Penetration/dp/1494932636
